<nav>
  <div class="siteTitle">
    <a href="/"><h1>Personal Blog</h1></a>
    <p>Dhanush</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
