<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogsContent">
      <h2>About Us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit
        provident reprehenderit atque totam necessitatibus, ea placeat dicta
        itaque labore quas, quo quam accusantium sed eum et. Eaque eligendi
        tempora in.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
        tenetur. Cum natus quo laborum dolores porro pariatur laboriosam iure
        quos molestiae ullam fugit error velit.
      </p>
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
